body{
    margin: 0;
    font-family: cursive;
}

.hashtag-header{
    background-color: #065FD4;
     color: white; 
    padding: 4rem;
    background-image: url(/background.png);
    background-size: 260px;
    background-position-x: 100%;
    background-position-y: -160px;
    background-repeat: no-repeat; 
}

h1{
    margin: 0;
    margin-bottom: 1rem;
    font-size: 4rem;
}

span{
    font-size: 2rem;
}

.hashtag-header img{
    width: 5rem;
    height:  5rem;
    border: 5px solid white;
    border-radius: 100%;
    vertical-align: middle;
   

}

img + img{
     margin-left: -1rem; 

}